#phantom_cloud_edit_content
{
    display: table;
    width: 800px;
    height: 500px;
}


.phantom_cloud_edit_row
{
    width: 100%;
    padding-top: 5px;
    display: table;
}

.phantom_cloud_edit_label
{
    width: 25%;
    display: inline;
    float: left;
}

.phantom_cloud_edit_input
{
}

.phantom_cloud_edit_button
{
    width: 80px;
    text-align: Center;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

#phantom_cloud_edit_list
{
    position: relative;
    left: 30px;
    width: 300px;
    margin: 10px;
}

.phantom_cloud_edit_configured_list
{

}

#phantom_cloud_edit_main
{
    width: 60%;
    float: left;
}

.phantom_cloud_edit_border_pane
{
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 4px;
}

#phantom_cloud_edit_status_message_div
{
    width: 30%;
    float: right;
    display: block;
}

.phantom_cloud_edit_warning_message
{
    color: red;
}