.formbutton
{
    width: 80px;
    text-align: Center;
}

#phantom_content
{
    display: table;
    width: 900px;
    height: 500px;
}

#main_combined_pane
{
    float: left;
    position: relative;
    width: 400px;
}


#main_lc_pane
{
    position: relative;
    width: 400px;
    float: left;
}

#main_asg_pane
{
    position: relative;
    width: 400px;
    float: right;
}

.phantom_domain_row
{
    width: 100%;
    padding-top: 5px;
    display: table;
}

.image_radio
{
    width: 10px;
}

.combo_label
{
    width: 50%;
    display: inline;
    float: left;
}

.combo_value
{
    width: 50%;
    display: inline;
    float: right;
}

.select_label_div
{
    position: relative;
}

.image_choice_div
{
    display: inline;
}

.imagechoice
{
    position: relative;
    left: 0px;
    width: 150px;
}

.image_choice_div
{
    position: relative;
    left: 200px;
}

.form_pane
{
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 4px;
    height: 450px;
}

#asg_name_div
{
    display: table;
    width: 100%;
}

#asg_name_lbl
{
    position: relative;
    width: 50%;
}

#asg_name_input
{
    width: 50%;
}

#main_combined_pane
{
    position: relative;
    width: 400px;
    text-align: left;
}

.phantom_label
{
    width: 50%;
    display: inline;
    float: left;
}

#domain_name_div
{
}

#domain_list_choices
{
    width: 400px;
    height: 110px;
}

.phantom_section_div
{
    border-bottom: solid;
    border-bottom-width: 1px;
    padding-top: 0px;
    padding-bottom: 4px;
}

#domain_name_lbl
{
    position: relative;
    width: 50%;
}

#domain_list_div
{
    width: 100%;
    height: 150px;
}

#domain_size_lbl
{
    position: relative;
    width: 50%;
}

#domain_name_input
{
    width: 50%;
}

#domain_size_input
{
    width: 2pc;
}

#start_domain_button
{
    float: left;
    margin-left: 50px;
}

#terminate_domain_button
{
    float: right;
    margin-right: 50px;
}

#domain_button_div
{
    padding-top: 5px;
    margin-top: 5px;
}

#domain_details_filter_div
{
    padding-bottom: 5px;
}

#domain_details_pane
{
    position: relative;
    width: 400px;
    float: right;
    padding-top: 3px;
}

#domain_details_list_div
{
    overflow-y: scroll;
    height: 80%;
    background-color: #f6f6ff;
}


.instance_status_div
{
}

.instance_status_name
{
}

.instance_status_details_list
{
}

.instance_status_details_item
{
}

#loading_image_div
{
    height: 20px;
    position: relative;
}

#details_loading_image_div
{
    display: none;
}

#phantom_loaded_content
{
    display: none;
}

#main_loading_image
{
    display: none;
}

#status_bar_div
{
    height: 25px;
}

.phantom_links
{
    display: inline;
    padding-right: 20px;
}

#public_key_input
{
    height: 100px;
    width: 650px;
}

.phantom_setting_label
{
    width: 20%;
}

.phantom_setting_input
{
    width: 80%;
}

#phantom_settings_table
{
    width: 100%;
}

#phantom_links_div
{
    display: inline;
    width: 100%;
    text-align: left;
}

#phantom_reset_pw_div li
{
    list-style-type: none;
}

#new_desired_size
{
    width: 2pc;
}

#domain_details_list_div ul
{
    list-style-type: none;
}

#domain_details_list_div li:hover
{
    background-color: #e6e6fa;
}

#phantomInstanceContextMenu
{
    display: none;
    background: #5d78a5;
    box-shadow: 0 0 12px rgba( 0, 0, 0, .3 );
    border: 1px solid white;
    position: absolute;
    top: 0; left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 100px;
    z-index: 10000;
}

#phantomInstanceContextMenu li
{
    position: relative;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#phantomInstanceContextMenu li:hover
{
    background: #83a0d3;
}

#phantomInstanceContextMenu div
{
    color: #fffbef;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    width: 80%;
    text-align: center;
}

#testblock
{
    
}
