#phantom_cloud_edit_content
{
    display: table;
    width: 500px;
    height: 500px;
}


.phantom_cloud_edit_row
{
    width: 100%;
    padding-top: 5px;
    display: table;
}

.phantom_cloud_edit_label
{
    width: 25%;
    display: inline;
    float: left;
}

.phantom_cloud_edit_input
{
    width: 75%;
    display: inline;
    float: right;
}

.phantom_cloud_edit_button
{
    width: 80px;
    text-align: Center;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

#phantom_cloud_edit_list
{
    position: relative;
    left: 30px;
    width: 300px;
    margin: 10px;
}

.phantom_cloud_edit_configured_list
{

}
