{% extends "../templates/base.html" %}
{% block title %}Phantom Cloud Configurations{% endblock %}
{% block headcss %}
    <link rel='stylesheet' type='text/css' media='all' href='/static/css/phantom_edit.css' />
{% endblock %}

{% block headscripts %}
    <script type="text/javascript">
    <!--
    var csrf_token = "{{ csrf_token }}";
    // -->
    </script>
    <script src="/static/js/phantom_common.js"></script>
    <script src="/static/js/phantom_cloud_edit.js"></script>
{% endblock %}
{% block bodytag %}onload="phantom_cloud_edit_load_page();"{% endblock %}
{% block nimbus_body  %}

    <div id="phantom_cloud_edit_content">
        <div class="phantom_headings">
            <label>Manage Clouds</label>
        </div>

        <div id="status_bar_div">
            <img src="/static/images/loading4.gif" id="phantom_cloud_edit_loading_image"/>
        </div>
       <form action="." method="post">{% csrf_token %}
           <div id="phantom_cloud_edit_main">
                <div class="phantom_cloud_edit_row">
                    <label for="phantom_cloud_edit_name" class="phantom_cloud_edit_label">Cloud Name:</label>
                    <select id="phantom_cloud_edit_name" class="phantom_cloud_edit_input"  onchange="phantom_cloud_edit_change_cloud()">
                    </select>
                </div>
                <div class="phantom_cloud_edit_row">
                    <label class="phantom_cloud_edit_label" for="phantom_cloud_edit_access">Access Key:</label>
                    <input id="phantom_cloud_edit_access" class="phantom_cloud_edit_input" type="text"/>
                </div>
               <div class="phantom_cloud_edit_row">
                   <label class="phantom_cloud_edit_label" for="phantom_cloud_edit_secret">Secret Key:</label>
                   <input id="phantom_cloud_edit_secret" class="phantom_cloud_edit_input" type="text"/>
               </div>
               <div class="phantom_cloud_edit_row">
                   <label class="phantom_cloud_edit_label" for="phantom_cloud_edit_keyname_list">Key Name:</label>
                   <select id="phantom_cloud_edit_keyname_list" class="phantom_cloud_edit_input">
                   </select>
               </div>
                <div class="phantom_cloud_edit_row">
                    <input id="phantom_cloud_edit_add" type="button" class="phantom_cloud_edit_button" value="Add" onclick="phantom_cloud_edit_add_click()"/>
                    <input id="phantom_cloud_edit_remove" type="button" class="phantom_cloud_edit_button" value="Remove" onclick="phantom_cloud_edit_remove_click()"/>
                </div>

                <div class="phantom_cloud_edit_row">
                    <div class="phantom_cloud_edit_configured_list">
                        Here is a list of clouds that are already configured for your use.  You can change their values above.
                        <ul id="phantom_cloud_edit_list">
                        </ul>
                    </div>
                </div>
            </div>
           <div id="phantom_cloud_edit_status_message_div">
               <label id="phantom_cloud_edit_key_message" class="phantom_cloud_edit_warning_message"></label>
               <label id="phantom_cloud_edit_status" class="phantom_cloud_edit_warning_message"></label>
           </div>

        </form>



    </div>

{% endblock %}
