{% extends "../templates/base.html" %}
{% block title %}Phantom Cloud Configurations{% endblock %}
{% block headcss %}
    <link rel='stylesheet' type='text/css' media='all' href='/static/css/phantom_edit.css' />
{% endblock %}

{% block headscripts %}
    <script type="text/javascript">
    <!--
    var csrf_token = "{{ csrf_token }}";
    // -->
    </script>
    <script src="/static/js/phantom_common.js"></script>
    <script src="/static/js/phantom_cloud_edit.js"></script>
{% endblock %}
{% block bodytag %}onload="phantom_cloud_edit_load_page();"{% endblock %}
{% block nimbus_body  %}
<div class="container-fluid inner-container">
  <div class="row-fluid">
    <div class="span2">
      <div id="loading" class="progress progress-striped active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
    <div class="span10" id="alert-container">
    </div>
  </div>
</div>

<div>
  <form action="." method="post" class="form-horizontal">{% csrf_token %}
    <div class="control-group" >
      <label for="phantom_cloud_edit_name" class="control-label">Cloud Name:</label>
      <div class="controls">
        <select id="phantom_cloud_edit_name" class="xphantom_cloud_edit_input"  onchange="phantom_cloud_edit_change_cloud()"></select>
      </div>
    </div>
    <div class="control-group" >
      <label class="control-label" for="phantom_cloud_edit_access">Access Key:</label>
      <div class="controls">
        <input id="phantom_cloud_edit_access" class="xphantom_cloud_edit_input" type="text"/>
      </div>
    </div>
    <div class="control-group" >
      <label class="control-label" for="phantom_cloud_edit_secret">Secret Key:</label>
      <div class="controls">
        <input id="phantom_cloud_edit_secret" class="xphantom_cloud_edit_input" type="password"/>
      </div>
    </div>
    <div class="control-group" >
      <label class="control-label" for="phantom_cloud_edit_keyname_list">Key Name:</label>
      <div class="controls">
        <select id="phantom_cloud_edit_keyname_list" class="xphantom_cloud_edit_input"></select>
      </div>
    </div>
    <div class="control-group" >
      <div class="controls">
        <input id="phantom_cloud_edit_add" type="button" class="btn btn-primary" value="Add" onclick="phantom_cloud_edit_add_click()"/>
        <input id="phantom_cloud_edit_remove" type="button" class="btn btn-danger" value="Remove" onclick="phantom_cloud_edit_remove_click()"/>
      </div>
    </div>
    <div class="phantom_cloud_edit_configured_list">
      Here is a list of clouds that are already configured for your use.  You can change their values above.
      <ul id="phantom_cloud_edit_list">
      </ul>
    </div>
    <div id="phantom_cloud_edit_status_message_div">
      <label id="phantom_cloud_edit_key_message" class="phantom_cloud_edit_warning_message"></label>
      <label id="phantom_cloud_edit_status" class="phantom_cloud_edit_warning_message"></label>
    </div>

  </form>
</div>
{% endblock %}
