{% extends "../templates/base.html" %}
{% block title %}Phantom Launch Configurations{% endblock %}

{% block headcss %}
    <link rel='stylesheet' type='text/css' media='all' href='/static/css/phantom_lc.css' />
{% endblock %}

{% block headscripts %}
    <script type="text/javascript">
    <!--
    var csrf_token = "{{ csrf_token }}";
    // -->
    </script>
    <script src="/static/js/phantom_common.js"></script>
    <script src="/static/js/phantom_lc.js"></script>
{% endblock %}
{% block bodytag %}onload="phantom_lc_load();"{% endblock %}
{% block nimbus_body  %}

<div class="container-fluid inner-container">
  <div class="row-fluid">
    <div class="span2">
      <div id="loading" class="progress progress-striped active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
    <div class="span10" id="alert-container">
    </div>
  </div>
</div>

<div id="phantom_lc_content" class="container-fluid inner-container">
  <div class="row-fluid">

    <div id="phantom_lc_name_combo_div">
      <form class="form-inline">
        <input id="phantom_lc_name_input" placeholder="Launch Configuration" type="text"/>
        <select id="phantom_lc_name_select" onchange="phantom_lc_change_lc_click()">
        </select>
        <input id="phantom_lc_save" class="btn" type="button" value="Save" onclick="phantom_lc_save_click()"/>
        <input id="phantom_lc_delete" class="btn btn-danger" type="button" value="Delete" onclick="phantom_lc_delete_click()"/>
      </form>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span5">
      <div class="well well-small">
        <div id="phantom_lc_info_area">

          <h5 class="phantom_area_header">Cloud Options</h5>

          <form class="form-horizontal">

            <div class="control-group">
              <label for="phantom_lc_cloud" class="phantom_lc_info_label">Cloud:</label>
              <select id="phantom_lc_cloud" class="phantom_lc_info_combo" onchange="phantom_lc_select_new_cloud()">
              </select>
            </div>

            <div class="control-group">
              <label for="phantom_lc_max_vm" class="phantom_lc_info_label">Max VMs:</label>
              <input type="text" id="phantom_lc_max_vm"/>
            </div>

            <div class="control-group">
              <label for="phantom_lc_instance" class="phantom_lc_info_label">Instance Type:</label>
              <select id="phantom_lc_instance" class="phantom_lc_info_combo">
              </select>
            </div>

            <div class="control-group form-inline">
              <label class="radio" for="phantom_lc_common_choice_checked">
                <input id="phantom_lc_common_choice_checked" type="radio" name="common_or_user" value="common_image_selected" checked="checked" onchange="phantom_lc_change_image_type()"/> Public Image
              </label>
              <input type="text" id="phantom_lc_common_image_input" class="pull-right span6"/>
            </div>

            <div class="control-group form-inline">
              <label class="radio" for="phantom_lc_user_choice_checked">
                <input class="" id="phantom_lc_user_choice_checked" type="radio" name="common_or_user" value="user_image_selected" onchange="phantom_lc_change_image_type()"/> Personal Image
              </label>
              <select name="user_images" id="xphantom_lc_user_images_choices" class="pull-right span6"></select>
            </div>

            <div class="control-group">
              <label class="" for="phantom_lc_userdata">User Data</label>

              <textarea class="span12" rows="5" id="phantom_lc_userdata"></textarea>
            </div>

            <div class="control-group">
              <input id="phantom_lc_add" class="btn btn-primary" type="button" value="Add" onclick="phantom_lc_add_click()"/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="span5">
      <div class="well well-small">
        <div id="phantom_lc_order_area">
          <h5 class="phantom_area_header">Launch Priority</h5>
          <div class="">
            <select size="13" name="phantom_lc_order" id="phantom_lc_order" onchange="phantom_lc_order_selected_click()"></select>
          </div>
          <div class="btn-toolbar">

            <div class="btn-group">
              <input id="phantom_lc_up" class="btn" type="button" value="Up" onclick="phantom_lc_up_click()"/>
              <input id="phantom_lc_down" class="btn" type="button" value="Down" onclick="phantom_lc_down_click()"/>
            </div>
            <div class="btn-group pull-right">
              <input id="phantom_lc_remove" class="btn btn-danger" type="button" value="Remove" onclick="phantom_lc_remove_click()"/>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}
