{% extends "../templates/base.html" %}
{% block title %}Phantom Home{% endblock %}
{% block headscripts %}
{% endblock %}
{% block headcss %}
    <link rel='stylesheet' type='text/css' media='all' href='/static/css/phantom_home.css' />
{% endblock %}
{% block bodytag %}onload="loadPage();" onclick="noncontextMouseDown();"{% endblock %}
{% block nimbus_body  %}


<div class="row">
    <div class="span12">
        <div class="hero-unit" id="xphantom_content">
            <h1>Nimbus Platform Phantom</h1>
            <br />

            <p class="lead">Scaling your cloud applications is as easy as:</p>

            <ol id="xphantom_home_action_list">
                <li>
                    <div class="xphantom_home_number_div">
                        <!--<img height="60" width="70" src="/static/images/1.png" class="phantom_home_number_image"/>-->
                        <a href="/phantom/sites" class="xphantom_home_number_label">Add your site credentials.</a>
                    </div>
                </li>
                <li>
                    <div class="xphantom_home_number_div">
                        <!--<img height="60" width="70" src="/static/images/2.png" class="phantom_home_number_image"/>-->
                        <a href="/phantom/launchconfig" class="xphantom_home_number_label">Create a launch configuration.</a>
                    </div>
                </li>
                <li>
                    <div class="xphantom_home_number_div">
                        <!--<img height="60" width="70" src="/static/images/3.png" class="phantom_home_number_image"/>-->
                        <a href="/phantom/domain" class="xphantom_home_number_label">Launch your domain.</a>
                    </div>
                </li>
            </ol>
            <p></p>
            <br />

            <p>
            For more information, you can read the <a href="http://www.nimbusproject.org/doc/phantom/latest/">Phantom Documentation.</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
